<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectRPVS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectRPVS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ProjectRPVS.Properties.Settings>
            <setting name="open_sum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="save1" serializeAs="String">
                <value />
            </setting>
            <setting name="save2" serializeAs="String">
                <value />
            </setting>
            <setting name="save3" serializeAs="String">
                <value />
            </setting>
            <setting name="save4" serializeAs="String">
                <value />
            </setting>
            <setting name="savex" serializeAs="String">
                <value />
            </setting>
            <setting name="savey" serializeAs="String">
                <value />
            </setting>
            <setting name="ifChecked1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ifChecked2" serializeAs="String">
                <value>False</value>
            </setting>
        </ProjectRPVS.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ProjectRPVS.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
        </ProjectRPVS.Properties.Settings>
    </applicationSettings>
</configuration>